{% extends 'base.html' %}

{% block title %}
Account List
{% endblock title %}

{% block content %}

<main>
    <h1>
        Account List
    </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for potato in account_item_object %}
            <tr>
                <td>{{ potato.name }}</td>
                <td>{{ potato.number }}</td>
                <td>{{ potato.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
