{% extends 'base.html' %}

{% block title %}Categories List{% endblock title %}

{% block content %}

<main>
    <h1>
        Expense Categories
    </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for potato in category_item_object %}
            <tr>
                <td>{{ potato.name }}</td>
                <td>{{ potato.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
