{% extends 'base.html' %}

{% block title %}Receipt List{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for potato in receipt_list_object %}
            <tr>
                <td>{{ potato.vendor }}</td>
                <td>{{ potato.total }}</td>
                <td>{{ potato.tax }}</td>
                <td>{{ potato.date|date:"m/d/y" }}</td>
                <td>{{ potato.category }}</td>
                <td>{{ potato.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
